<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <title>Weather Ranking</title>
</head>

<body>
    <header>
        Weather Ranking
    </header>
    <form method="GET">
        <div class="form_element">
            <label for="start_date">Start Date</label>
            <input name="start_date" id="start_date" type="date" value="{{start_date}}" />
        </div>
        <div class="form_element">
            <label for="end_date">End Date</label>
            <input name="end_date" id="end_date" type="date" value="{{end_date}}" />
        </div>
        <div class="form_element">
            <button type="submit">Get Data</button>
        </div>
    </form>
    {%- if exception -%}
    <div class="form_element" style="color:red; width: 100%;">{{exception}}</div>
    {%- endif -%}
    <table>
        {%- if cities_scores -%}
        <tr>
            <th>Rank</th>
            <th>City</th>
            <th>Score</th>
        </tr>
        {%- endif -%}
        {% for city_score in cities_scores %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{city_score[0]}}</td>
            <td>{{city_score[1]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>